@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff) format("woff");
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 14px;
  /* 1rem = 14px */
}

body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

/* ! page and container */
.page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* * header */
.header {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.header__container {
  padding: 25px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.header__menu-icon {
  display: none;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__link {
  color: #A6A6A6;
  line-height: 1.714rem;
  font-size: 1rem;
  margin-right: 32px;
  position: relative;
}

.header .menu__link:last-child {
  margin-right: 26px;
}

@media (min-width: 1000px) {
  .header .menu__link::after, .header .menu__link_active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #222222;
    border-radius: 4px;
    visibility: hidden;
  }
  .header .menu__link::after {
    -webkit-transition: visibility .1s translateY .1s;
    transition: visibility .1s translateY .1s;
  }
  .header .menu__link:hover::after {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    visibility: visible;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .header .menu .menu__link_active {
    pointer-events: none;
  }
  .header .menu .menu__link_active::after {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  .header .header__menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header .header__menu-icon span, .header .header__menu-icon::before, .header .header__menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .header .header__menu-icon::before, .header .header__menu-icon::after {
    content: "";
  }
  .header .header__menu-icon::before {
    top: 0;
  }
  .header .header__menu-icon::after {
    bottom: 0;
  }
  .header .header__menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .header__menu-icon_active span, .header .header__menu-icon_active::before, .header .header__menu-icon_active::after {
    background-color: #FFFFFF;
  }
  .header .header__menu-icon_active span {
    -webkit-transform: scale(0) translate(0px, -50px);
            transform: scale(0) translate(0px, -50px);
  }
  .header .header__menu-icon_active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .header__menu-icon_active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    padding: 15% 20px 0 20px;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header .menu_active {
    left: 0;
    z-index: 4;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header .menu__body {
    margin-bottom: 15px;
  }
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .header .menu__list li {
    margin: 10px;
  }
  .header .menu__link, .header .menu__link:last-child {
    margin: 0;
    color: #FFFFFF;
    line-height: 1.714rem;
    font-size: 1.429rem;
  }
}

@media (max-width: 768px) {
  .header .menu {
    padding: 30% 20px 0 20px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .header .menu {
    padding-top: 15%;
  }
  .header .menu__body {
    overflow-y: auto;
  }
}

/* * button */
.button {
  display: inline-block;
  position: relative;
  max-width: 172px;
  height: 40px;
  padding: 10px 25px;
  background-color: #222222;
  border-radius: 4px;
  outline: 1px solid #222222;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 18px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 1000px) {
  .button::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #FFFFFF;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .button:hover {
    color: #222222;
  }
  .button:hover::before {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* * main */
.main__color-wrapper_dark {
  background-color: #222222;
}

.main__color-wrapper_red {
  background-color: #FF5437;
}

.main__color-wrapper_dark-white {
  background-color: #F2F2F2;
}

.main__container {
  padding: 100px 16px 0 16px;
}

.main__container_dark {
  background-color: #222222;
}

.main__container_red {
  background-color: #FF5437;
  padding: 80px 0 80px 0;
}

.main__content-block .content-block__logo {
  margin-bottom: 11px;
}

.main__content-block .content-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content-block .content-block__buttons a + a {
  margin-left: 10px;
}

.main .inner-felx-container {
  padding: 45px 78px 0 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .inner-felx-container_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

@media (max-width: 1000px) {
  .main .inner-felx-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 10px 0px 10px;
  }
  .main .main__content-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .content-block__button {
    text-align: center;
    height: auto;
  }
}

@media (max-width: 425px) {
  .main__container {
    padding: 85px 10px 0 10px;
  }
}

.content-block {
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-block__title {
  color: #222222;
  line-height: 4.214rem;
  font-size: 3.857rem;
  margin-bottom: 18px;
}

.content-block__text {
  color: #222222;
  line-height: 1.714rem;
  font-size: 1.143rem;
  margin-bottom: 18px;
}

.content-block__caption {
  margin-bottom: 5px;
  color: #222222;
  line-height: 1.429rem;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content-block__title_small {
  color: #222222;
  line-height: 2.571rem;
  font-size: 2.286rem;
}

.content-block__text_grey {
  color: #666666;
  line-height: 1.714rem;
  font-size: 1.143rem;
  max-width: 403px;
}

@media (max-width: 1000px) {
  .content-block__title {
    font-size: 2.857rem;
    text-align: center;
  }
  .content-block__text {
    text-align: center;
  }
  .content-block__image {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .content-block__caption {
    margin-bottom: 15px;
  }
  .content-block__title_small {
    font-size: 1.786rem;
  }
}

@media (max-width: 375px) {
  .content-block__title {
    font-size: 2.143rem;
  }
  .content-block__title_small {
    font-size: 1.786rem;
  }
}

.features-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.features-block__sub-title {
  margin-bottom: 5px;
  color: #FFFFFF;
  line-height: 1.429rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.features-block__title {
  color: #FFFFFF;
  line-height: 2.571rem;
  font-size: 2.286rem;
}

.features-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features-block__card {
  width: 379px;
  height: 490px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.features-block__card > img {
  position: absolute;
  width: auto;
  height: 450px;
  left: calc(50% - 308.75px/2);
  top: calc(50% - 450px/2);
  z-index: 2;
}

.features-block__card-rectangle {
  max-width: 379px;
  height: 197px;
  padding: 48px 47px;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0;
  z-index: 3;
  background: #F2F2F2;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
}

.features-block__card-title {
  margin-bottom: 11px;
  color: #000;
  line-height: 2.143rem;
  font-size: 1.714rem;
  text-align: center;
}

.features-block__card-title_blue {
  color: #0278ED;
}

.features-block__card-title_red {
  color: #FF5437;
}

.features-block__card-title_orange {
  color: #FF9209;
}

.features-block__card-title_pink {
  color: #E738CE;
}

.features-block__card-title_light-blue {
  color: #00C6DF;
}

.features-block__card-title_purple {
  color: #B25DF8;
}

.features-block__card-text {
  color: #222222;
  line-height: 1.571rem;
  font-size: 1.071rem;
  text-align: center;
}

.features-block__card-square {
  width: 64px;
  height: 64px;
  padding: 19px 20px;
  position: absolute;
  left: calc(50% - 64px/2);
  top: 259px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-block__card-square img {
  max-width: 24px;
  max-height: 27px;
}

.features-block__card-square_blue {
  background-color: #0278ED;
}

.features-block__card-square_red {
  background-color: #FF5437;
}

.features-block__card-square_orange {
  background-color: #FF9209;
}

.features-block__card-square_pink {
  background-color: #E738CE;
}

.features-block__card-square_light-blue {
  background-color: #00C6DF;
}

.features-block__card-square_purple {
  background-color: #B25DF8;
}

@media (max-width: 1440px) {
  .features-block__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__card {
    margin: 16px 8px;
  }
}

@media (max-width: 768px) {
  .features-block__sub-title {
    margin-bottom: 15px;
  }
  .features-block__title {
    text-align: center;
  }
}

@media (width: 320px) {
  .features-block__card img {
    left: calc(50% - 272px/2);
  }
  .features-block__card-rectangle {
    padding: 35px 47px;
  }
}

.sub-block {
  padding: 0 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.sub-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-block__number {
  color: #FFFFFF;
  line-height: 6.857rem;
  font-size: 6.857rem;
  text-align: center;
}

.sub-block__caption {
  color: #FFFFFF;
  line-height: 1.429rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .sub-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-block__content:nth-child(2) {
    margin: 16px 0;
  }
}

@media (max-width: 375px) {
  .sub-block__number {
    font-size: 5.714rem;
  }
}
/*# sourceMappingURL=style.css.map */