@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff) format('woff');
    src: url(../fonts/Poppins-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;

}