%caption {
    color: $graphite-color;
    font-size: 1rem;
    line-height: 1.429rem;
    text-align: center;
    letter-spacing: 0.143rem;
    text-transform: uppercase;
}

%title {
    color: $graphite-color;
    font-size: 2.286rem;
    line-height: 2.571rem;
    text-align: center;
}

%sub-text {
    color: $mid-grey;
    font-size: 1.286rem;
    line-height: 1.714rem;
    text-align: center;
}