// * colors
$white-color: #FFFFFF;
$graphite-color: #222222;
$dark-white: #F2F2F2;
$grey-color: #666666;
$red-color: #FF5437;
$blue-color: #0278ED;
$mid-white: #E5E5E5;
$orange-color: #FF9209;
$light-grey: #B1B1B1;
$light-blue: #00C6DF;
$purple-color: #B25DF8;
$pink-color: #E738CE;
$black-color: #000000;
$mid-grey: #A6A6A6;