.button {
    display: inline-block;
    position: relative;
    max-width: 172px;
    height: 40px;
    padding: 10px 25px;

    background-color: $graphite-color;
    border-radius: 4px;
    outline: 1px solid $graphite-color;

    transition: all 1s;
    z-index: 1;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    @include font-style($white-color, 18px, 1rem);
    text-transform: uppercase;
    letter-spacing: 2px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;

        top: 0;
        left: 0;
        z-index: -1;

        background-color: $white-color;
        transition: all 1s;
        transform: translateX(-100%);
    }

    &:hover {
        color: $graphite-color;
    }

    &:hover::before {
        transform: translateX(0);
    }
}