.content-block {
    max-width: 420px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    &__title {
        @include font-style ($graphite-color, 4.214rem, 3.857rem);
        margin-bottom: 18px;
    }

    &__text {
        @include font-style ($graphite-color, 1.714rem, 1.143rem);
        margin-bottom: 18px;
    }

    &__caption {
        margin-bottom: 5px;
        @include font-style ($graphite-color, 1.429rem);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__title_small {
        @include font-style ($graphite-color, 2.571rem, 2.286rem);
    }

    &__text_grey {
        @include font-style ($grey-color, 1.714rem, 1.143rem);
        max-width: 403px;
    }

    &__image>img {
        max-width: 376px;
    }

    @include media (max-width, 1000px) {
        &__title {
            font-size: 2.857rem;
            text-align: center;
        }

        &__text {
            text-align: center;
        }

        &__image {
            margin-top: 20px;
        }
    }

    @include media (max-width, 768px) {
        &__caption {
            margin-bottom: 15px;
        }

        &__title_small {
            font-size: 1.786rem;
        }
    }

    @include media (max-width, 375px) {
        &__title {
            font-size: 2.143rem;
        }

        &__title_small {
            font-size: 1.786rem;
        }

        // ! testing
        &__image>img {
            max-width: 100%;
        }
    }

}