.main {

    &__color-wrapper_dark {
        background-color: $graphite-color;
    }

    &__color-wrapper_red {
        background-color: $red-color;
    }

    &__color-wrapper_dark-white {
        background-color: $dark-white;
    }

    &__container {
        padding: 100px 16px 0 16px;
    }

    &__container_dark {
        background-color: $graphite-color;
    }

    &__container_red {
        background-color: $red-color;
        padding: 80px 0 80px 0;
    }

    &__content-block {

        .content-block__logo {
            margin-bottom: 11px;
        }

        .content-block__buttons {
            display: flex;

            & a+a {
                margin-left: 10px;
            }
        }
    }

    .inner-felx-container {
        padding: 45px 78px 0 78px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &_reverse {
            flex-flow: row-reverse wrap;
        }
    }

    @include media (max-width, 1000px) {

        .inner-felx-container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 25px 10px 0px 10px;
        }

        .main__content-block {
            align-items: center
        }

        .content-block__button {
            text-align: center;
            height: auto;
        }
    }

    @include media (max-width, 425px) {
        &__container {
            padding: 85px 10px 0 10px;
        }
    }
}