html {
    font-size: 14px;
    /* 1rem = 14px */
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    &[data-body-scroll="false"] {
        overflow-y: hidden;
    }
}